$primary-color: #182C61;
$secondary-color: #44bd32;
$secondary-color-hover: #4cd137;
$background-color: #f5f6fa;
$font-family: 'Roboto, sans-serif';
$max-width: 1024px;
$container-padding: 16px 0;
$grid-column-gap: 1%;
$grid-row-gap: 4%;
$grid-template-columns-desktop: 32.66%;
$grid-template-columns-tablet: 48.5%;
